@import 'variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

:root {
    font-family: $font-family;
    font-size: $font-size;
}

body {
    min-height: 100vh;
    color: #fff;
    background: $color-bg-default;
    overflow: hidden;

    #root {

        main {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}